* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'gordita';
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'gordita';
    src: url('/assets/font/Gordita\ Regular.otf') format('truetype');
    font-display: swap;
}

:root {
    --black: #22282f;
    --grey: #d1d1de;
    --white: #fff;
    --bg-color: #F8F8F6;
    --yellow-color: #FFA416;
    --main-color: #03C888;
    --h2-font: 2.9rem;
    --h2-color: #103235;
    --atag-color: #215D63;
    --app-url: #229FA6;
}

#health-wellness,
#health-condition,
#health-care,
#second-opinion,
#surgery,
#cronic {
    padding: 50px 0;
}

.cards {
    padding: 50px 0;
}

/* Header Start */

#banner>div>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner-overlay {
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    z-index: 100;
}

header>div {
    border-radius: 50px;
    box-shadow: #5d5d5d4d 0px 0px 0px 10px;
    background-color: var(--white);
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000000;
}

#head>div>nav>a:nth-child(4),
.con-view>a {
    background-color: var(--yellow-color);
    padding: 8px 28px;
    color: var(--white);
    border-radius: 20px;
    text-decoration: none;
}

#slider {
    top: 0;
    left: -100%;
    height: 100vh;
    width: 70%;
    background-color: var(--bg-color);
    transition: left 0.4s ease-in-out;
    z-index: 1000000;
}

#slider.show {
    left: 0;
}

.navs {
    margin-top: 25%;
}

.navs a {
    padding: 10px;
    text-decoration: none;
    color: var(--atag-color);
}

#menuBar,
#closeIcon {
    cursor: pointer;
    color: var(--main-color);
    font-weight: 800;
    font-size: 18px;
}

#surgery-care>div {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000;
}

#surgery-care>div>h2 {
    font-size: var(--h2-font);
    font-weight: bolder;
    color: var(--white);
}

#surgery-care>div>p {
    color: var(--white);
}

/* Header End */

#health-wellness>div>div:first-child>h2,
#health-condition>div>div:first-child>h2,
#health-care>div>div:first-child>h2,
#surgery>div>div:first-child>h2,
#cronic>div>div:first-child>h2 {
    font-size: var(--h2-font);
    color: var(--h2-color);
    font-weight: 900;
    color: var(--black);
}

#health-wellness>div>div:first-child>p,
#health-condition>div>div:first-child>p,
#health-care>div>div:first-child>p,
#surgery>div>div:first-child>p,
#cronic>div>div:first-child>p {
    color: var(--h2-color);
}

.cards>div>div>div {
    border: none;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
    z-index: 10;
}

.cards>div>div>div>div>div {
    bottom: 10%;
    left: 5%;
    z-index: 10;
}

.cards>div>div>div>div>div>h5 {
    font-size: 30px;
    font-weight: 700;
    color: #F8F8F6;
}

.content>a {
    text-decoration: none;
    padding: 6px 18px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--white);
    background-color: rgba(93, 93, 93, 0.5);
    border: 1px solid var(--white);
}

.content>a:hover {
    transition: .5s ease-in;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5));
}

#second-opinion>div>div>div:last-child,
#second-opinion>div>div>div:first-child {
    border-radius: 20px;
    /* width: 100%; */
    background: linear-gradient(to top, rgb(195, 245, 240), rgb(251, 241, 216));
}

#second-opinion>div>div>div:last-child>h5,
#second-opinion>div>div>div:first-child>h5 {
    color: var(--atag-color);
    font-weight: 500;
}

#second-opinion>div>div>div:last-child>h2,
#second-opinion>div>div>div:first-child>h2 {
    color: var(--atag-color);
    font-size: 2rem;
    font-weight: 900;
}

#second-opinion>div>div>div:last-child>div>a,
#second-opinion>div>div>div:first-child>div>a {
    background-color: var(--yellow-color);
    padding: 8px 28px;
    color: var(--white);
    border-radius: 20px;
    text-decoration: none;
}

#cronic-card {
    background-color: var(--bg-color);
    border-radius: 18px;
    box-shadow: #c9c9c94d 0px 0px 0px 1px;
}

#cronic-card>h5 {
    color: var(--atag-color);
    font-weight: 800;
}

#app-url {
    padding: 50px 0 0 0;
    background-color: var(--app-url);
}

#app-url>div>div>div:first-child>h2 {
    color: var(--white);
    font-weight: 900;
}

#app-url>div>div>div:first-child>div>div:last-child>h5 {
    color: var(--white);
    font-weight: 900;
}

#app-url>div>div>div:first-child>div>div:last-child>p {
    color: var(--white);
}

#app-url>div>div>div:first-child>div>div:last-child>div {
    background-color: var(--white);
    padding: 14px 28px;
    border-radius: 50px;
}

#app-url>div>div>div:first-child>div>div:last-child>div>input {
    border: none;
    outline: none;
}

#app-url>div>div>div:first-child>div>div:last-child>div>a {
    background-color: var(--yellow-color);
    padding: 14px 28px;
    color: var(--white);
    border-radius: 50px;
    text-decoration: none;
}

#footer {
    padding: 50px 0 0 0;
}

#footers>div:nth-child(1)>div:nth-child(2)>a {
    background-color: var();
    /* padding: 12px 28px; */
    color: var(--h2-color);
    letter-spacing: 4px;
    border-radius: 8px;
    font-size: 16px;
    font-family: "gordita";
}

.foot-topic{
    color: var(--grey);
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-color>div>p {
    color: var(--h2-color);
}

.footer-color>div>p>a {
    color: var(--h2-color);
    text-decoration: none;
}

.last-foot-btn>div>p:last-child>a {
    background-color: var(--yellow-color);
    padding: 8px 28px;
    color: var(--h2-color);
    font-weight: 700;
    border-radius: 50px;
    text-decoration: none;
}

@media (max-width: 992px) {
    #head>div>nav>a {
        display: none;
    }

    #second-opinion>div>div {
        flex-direction: column-reverse;
    }

    #second-opinion>div>div:first-child>div:last-child,
    #second-opinion>div>div:last-child>div:first-child {
        height: 40vh;
    }

    #footer-res {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #app-url {
        text-align: center;
    }
}

@media (max-width:768px) {
    
    #app-url>div>div>div:first-child>div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;  
    }
    #footers>div:first-child {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    #footers>div:first-child>div:first-child>img {
        width: 250px;
        margin-bottom: 20px;
    }

    #footer-res>div:nth-child(2)>h3,
    #footer-res>div:nth-child(4)>h3{
        margin-bottom: 0;
    }

    #footer-res>div:nth-child(4){
        margin-bottom: 20px;
    }

    #footer-res>div:nth-child(5)>div>p:last-child{
        margin-top: 20px;
    }
}

@media (max-width:468px) {

    #health-wellness>div>div:first-child>h2,
    #health-condition>div>div:first-child>h2 {
        font-size: 35px;
    }

    #health-wellness>div>div:first-child>p,
    #health-condition>div>div:first-child>p {
        font-size: 14px;
    }

    #health-wellness {
        padding: 50px 0;
    }

    .cards {
        padding: 25px 0;
    }

    #second-opinion>div>div:first-child>div:last-child,
    #second-opinion>div>div:last-child>div:first-child {
        height: 30vh;
    }

    #second-opinion {
        padding: 0px 0px 30px 0px;
    }

    #second-opinion>div>div>div:last-child>h2,
    #second-opinion>div>div>div:first-child>h2 {
        font-size: 28px;
    }

    #second-opinion>div>div>div:last-child>h5,
    #second-opinion>div>div>div:first-child>h5 {
        font-size: 14px;
    }

    #app-url>div>div>div:first-child>h2 {
        font-size: 26px;
    }

    #app-url>div>div>div:first-child>div>div:last-child>div{
        padding: 4px 28px;
    }

    #app-url>div>div>div:first-child>div>div:last-child>div>a {
        background-color: var(--yellow-color);
        padding: 4px 12px;
        color: var(--white);
        border-radius: 50px;
        font-size: 14px;
        text-decoration: none;
    }
}