* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'gordita';
}

@font-face {
    font-family: 'gordita';
    src: url('/assets/font/Gordita\ Regular.otf') format('truetype');
    font-display: swap;
}

:root {
    --black: #22282f;
    --grey: #d1d1de;
    --white: #fff;
    --bg-color: #F8F8F6;
    --yellow-color: #FFA416;
    --main-color: #03C888;
    --h2-font: 2.9rem;
    --h2-color: #103235;
}

#health-wellness{
    padding: 100px 0;
}

.cards{
    padding: 50px 0;
}

/* Header Start */

#banner>div>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner-overlay{
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    z-index: 100;
}

header>div {
    border-radius: 50px;
    box-shadow: #5d5d5d4d 0px 0px 0px 10px;
    background-color: var(--white);
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000000;
}

#head>div>nav>a:nth-child(4) {
    background-color: var(--yellow-color);
    padding: 6px 28px;
    color: var(--white);
    border-radius: 20px;
}

#surgery-care>div{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000;
}

#surgery-care>div>h2{
    font-size: var(--h2-font);
    font-weight:bolder;
    color: var(--white);
}

#surgery-care>div>p{
    
    color: var(--white);
}


/* Header End */

#health-wellness>div>div:first-child>h2{
    font-size: var(--h2-font);
    color: var(--h2-color);
    font-weight: 900;
    color: var(--black);
}

#health-wellness>div>div:first-child>p{
    color: var(--h2-color);
}

.cards>div>div>div {
    border: none;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
    z-index: 10;
}

.cards>div>div>div>div>div {
    bottom: 10%;
    left: 5%;
    z-index: 100;
}

.cards>div>div>div>div>div>h5 {
    font-size: 30px;
    font-weight: 700;
    color: #F8F8F6;
}

.content>a {
    text-decoration: none;
    padding: 6px 18px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--white);
    background-color: rgba(93, 93, 93, 0.5);
    border: 1px solid var(--white);
}

.content>a:hover{
    transition: .5s ease-in;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5));
}

@media (max-width: 992px){
    #head>div>nav>a{
        display: none;
    }
}

